/* $cd ~/Desktop */
/* Global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2.6rem;
}

li,
button,
label,
input,
p {
	font-size: 2rem;
}

h2 {
	font-size: 2.8rem;
	padding: 4rem 0;
	animation: moveInRight 2s ease-out;
}

h3 {
	font-size: 3rem;
	font-weight: 400;
}

h4,
h5 {
	font-size: 2.8rem;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #6890c2;
}

/* Nav section with HERO */
main {
	max-width: 80%;
	margin: auto;
}

.main-head {
	background-color: #131c27;
	color: white;
	position: sticky;
	top: 0px;
	z-index: 3;
}

nav {
	display: flex;
	width: 90%;
	margin: auto;
	padding: 2rem;
	min-height: 10vh;
	align-items: center;
	flex-wrap: wrap;
}

nav ul {
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.p-link {
	text-decoration: none;
	color: #3c76be;
	font-weight: 600;
	cursor: pointer;
}

.p-link:hover {
	color: #074da3;
}

#logo {
	flex: 2 1 40rem;
	font-family: 'Pattaya', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	animation: logoAnimation 2s alternate ease-in-out;
}

.logo-word {
	color: #6890c2;
}

.hero {
	min-height: 20vh;
	/* background: linear-gradient(rgba(0, 0, 0, 0.8), transparent); */
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero h3 {
	padding: 5rem;
}

.author {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 8rem;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
}

.author-name {
	font-size: 1.2rem;
	font-weight: 600;
}

.author-publish {
	font-size: 1.1rem;
}

.author-publish-alt {
	font-size: 1.1rem;
	margin-left: 1rem;
}

.author-1 {
	height: 7rem;
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 4rem;
}

.img-1 {
	height: 45rem;
	width: auto;
	padding-bottom: 4rem;
	object-fit: cover;
}

.content {
	width: 47.5rem;
	margin: 0 auto;
	text-align: center;
}

.content-alt {
	width: 47.5rem;
	margin: 0 auto;
}

.content-head {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: justify;
}

.content-p {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-align: justify;
}

.content-p-bold {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-align: justify;
	font-weight: 600;
}

.img-2 {
	width: 55rem;
	padding-bottom: 4rem;
	object-fit: contain;
}

.comments {
	background: #f8f8f8;
	padding: 10px;
}

.comment-title {
	font-weight: bold;
	font-size: 12px;
	color: #3b5998;
}

.comment-meta-a {
	color: #3b5998;
}

.comment-underline {
	border-bottom: 1px dotted #666;
}

a img {
	border: none;
	float: left;
	margin-right: 2rem;
}

.shortc-button {
	background: #6890c2;
	padding: 2rem 12rem;
	border-radius: 5px;
	margin-top: 8rem;
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}

.shortc-button:hover {
	color: #131c27;
}

footer {
	background: #131c27;
	padding: 2rem;
	margin-top: 2rem;
}
.footer-contents {
	display: flex;
	justify-content: center;
}

.footer-link {
	color: white;
	font-size: 12px;
}

li {
	list-style-type: none;
}

.disclaimer {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.disclaimer-copy {
	font-size: 12px;
	margin-bottom: 1rem;
}

.disclaimer-text {
	font-size: 10px;
}

/* Keyframes */

@keyframes logoAnimation {
	from {
		transform: translate(8%, -4%);
	}
	to {
		transform: translate(0%, 0%);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

/* Media queries */

@media screen and (max-width: 932px) {
	html {
		font-size: 45%;
	}

	nav {
		text-align: center;
	}

	#logo {
		padding: 2rem;
	}

	.disclaimer-text {
		font-size: 8px;
	}
}
