/* Global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.6rem;
}

li, button, label, input, p {
	font-size: 2rem;
}

h2 {
	font-size: 2.8rem;
	padding: 4rem 0;
}

h3 {
	font-size: 3rem;
	font-weight: 400;
}

h4, h5 {
	font-size: 2.8rem;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #6890c2;
}

/* Nav section with HERO */

.main-head {
	background-color: #131c27;
	color: white;
	position: sticky;
	top: 0px;
	z-index: 3;
}

nav {
	display: flex;
	width: 90%;
	margin: auto;
	padding: 2rem;
	min-height: 10vh;
	align-items: center;
	flex-wrap: wrap;
}

nav ul {
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

#logo {
	flex: 2 1 40rem;
	font-family: 'Pattaya', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	animation: logoAnimation 2s alternate ease-in-out;
}

.logo-word {
	color: #6890c2;
}

@keyframes logoAnimation {
	from {
		transform: translate(8%, -4%);
	}
	to {
		transform: translate(0%, 0%);
	}
}

.hero {
	min-height: 20vh;
	/* background: linear-gradient(rgba(0, 0, 0, 0.8), transparent); */
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero h3 {
	padding: 5rem;
}

.author {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 8rem;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
}

.author-name {
	font-size: 1.2rem;
	font-weight: 600;
}

.author-publish {
	font-size: 1.1rem;
}

.author-1 {
	height: 7rem;
}

.img-container {
display: flex;
justify-content: center;
align-items: center;
padding-top: 4rem;
}

.img-1 {
	height: 45rem;
	width: auto;
	padding-bottom: 4rem;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0rem 18rem 4rem;
}

.content-head {
	font-size: 1.2rem;
	text-align: center;
}

/* Media queries */

@media screen and (max-width: 932px) {

	html {
		font-size: 45%;
	}

	nav {
		text-align: center;
	}

	#logo {
		padding: 2rem;
	}